@font-face { 
    font-family: MontSemiBold;
    src: url("../fonts/Mont/MontSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face { 
    font-family: MontRegular;
    src: url("../fonts/Mont/MontRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face { 
    font-family: MontThin;
    src: url("../fonts/Mont/MontThin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

:root, ::backdrop {
    --mont: MontRegular, -apple-system, BlinkMacSystemFont, sans-serif;
    --mont-bold: MontSemiBold -apple-system, BlinkMacSystemFont, sans-serif;
    --mont-light: MonoThin -apple-system, BlinkMacSystemFont, sans-serif;
    --bg: #FFFFFF;
    --accent-bg: #CCB1A0;
    --accent-light-bg: #FFF4F0;
    --accent-hover-bg: #F5D009;
    --text: #131313;
    --text-light: #776E71;
    --border: #907966;
    --accent: #1C1413;
    --accent-hover: #4C4443;
    --accent-text: #434343;
    --disabled: #F1E2D1;
}

@media (prefers-color-scheme: dark) {
    :root, ::backdrop {
        color-scheme: dark;
        --bg: #131313;
        --accent-bg: #2b2b2b;
        --text: #dcdcdc;
        --text-light: #ababab;
        --accent: #ffb300;
        --accent-hover: #ffe099;
        --accent-text: var(--bg);
        --code: #f06292;
        --preformatted: #ccc;
        --disabled: #111;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--sans-font);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    font-family: var(--mont);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    background-color: var(--accent-hover-bg);
    color: var(--text);
}

a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: var(--text);
}

header {
    padding: 1rem 1rem 3rem 1rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    background-color: var(--accent-bg);
    color: var(--text);
}

header h1 {
    margin-top: 1rem;
}

nav {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg);
}

nav :not(:last-child)::after {
    content: " | ";
}

menu {
    margin-top: -2rem;
    color: var(--text);
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
}

menu li {
    display: block;
    cursor: pointer;

    margin-left: -2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    list-style: none;
    text-align: center;
    font-family: var(--mont-bold);

    background: linear-gradient(180deg, var(--bg), var(--accent-light-bg));
    border-top-left-radius: 2rem;
    border-left: 1px solid var(--accent-bg);
}

menu li:first-child {
    margin-left: 0;
}

menu li:last-child {
    padding-right: 0;
    border-top-right-radius: 2rem;
    border-right: 1px solid var(--accent-bg);
}

menu li:hover {
    background-color: var(--bg);
    background: linear-gradient(180deg, var(--bg), var(--bg));
}

main {
    position: relative;
    display: flex;
    margin-top: -2rem;
    padding: 2rem;
    
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 1px solid var(--accent-bg);
    
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--bg);
}

main h1 {
    flex-basis: 100%;
}

article {
    flex-basis: 33.33%;
    text-align: center;
    font-size: 1.5rem;
}

div {
    cursor: pointer;
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid var(--text-light);
}

div:hover {
    background-color: var(--accent-hover-bg);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h1, p {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 400px) {
    menu {
        font-size: small;
    }
    article {
        flex-basis: 50%;
        font-size: small;
    }
}